



.text-blue-france {
  color: #003366;  
}

.card {
  background-color: #003366; 
  color: #87CEEB;  
  border: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  color: #D6EAF8;  
}

.image {
  border: 5px solid #003366;  
  border-radius: 50%;
}


@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}
